<% (current_user != nil) && (current_user.first_name != nil) ? greeting = ", #{current_user.first_name}!" : greeting = "!" %>
<div class="jumbotron">
	<h1>Welcome to the TTS Store<%= greeting %></h1>
</div>

<div class="row">
	<% @products.each_with_index do |product, index| %>
		<div class="col-xs-12 col-sm-6 col-md-4">
			<%= render "product_display", product: product %>
		</div>
		<% if index % 3 == 2 %>
			<div class="clearfix"></div>
		<% end %>
	<% end %>
</div>