<div class="jumbotron">
  <h1><%= @category.name %></h1>
  <p>Browse our products by category</p>
</div>

<% @products.each do |product| %>
    <div class="well">
        <h2><%= product.name %></h2>
        <%= render "product_display", product: product %> 
    </div>
<% end %>