<div class="jumbotron">
  <h1>Product Categories</h1>
  <p>Browse our products by category</p>
</div>

<% @products_by_category.each do |category| %>
    <div class="well">
        <h2><%= category.keys.first %></h2>
        <% category.values[0].each do |product| %>
            <%= render "product_display", product: product %>
        <% end %>
    </div>
<% end %>