<div class="jumbotron">
    <h1><%= @brand %> Products</h1>
</div>

<% @products.each do |product| %>
    <div class="well">
        <%= render "product_display", product: product %>
    </div>
<% end %>